.twenty_questions_interface {
    border-style: solid;
    border-width: 1px;
    width: 450px;
    height: 300px;
}

body {
    color: #555555;
    font-family: "open sans", arial, sans-serif;
}

h3 {
    font-size: 21px;
    font-weight: 400;
    margin: 24px 0 14px 0;
}

button_foo {
    font-size: 21px;
    font-weight: 400;
    margin: 24px 0 14px 0;
}

#twenty_questions_table {
    table-layout: fixed;
}

#twenty_questions_table td div {
    width: 400px;
    height: 100px;
    overflow: auto;
}



